name: publish

on:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - 'go.mod'
      - 'Makefile'
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

env:
  AWS_SERVERLESS_BUCKET: coralogix-serverless-repo
  AWS_DEFAULT_REGION: eu-central-1

jobs:
  publish:
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21.x

      - name: Build and package
        run: make package

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.S3_ROLE_ARN }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Publish to S3
        run: make publish

      - name: Create a draft release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: firehose-metrics-transformer.zip
